$spacer: 1rem !default;
$headings-margin-bottom: $spacer * 0;
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: inherit;

$font-weight-base: 400;
