$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1872px
);

// .container,
// .container-fluid {
//   padding-left: 4.8rem;
//   padding-right: 4.8rem;
//   margin-left: auto;
//   margin-right: auto;

// }

// @media screen and (max-width: 768px) {
//   .container,
//   .container-fluid {
//     padding-left: 0.75rem;
//     padding-right: 0.75rem;
//   }
// }

// Optional: If you want to use the $container-max-widths for actual max-width
// @each $breakpoint, $width in $container-max-widths {
//   @media (min-width: $width) {
//     .container {
//       max-width: $width;
//     }
//   }
// }