// 1. 全域字型設定
$font-family-sans-serif: "Noto Sans TC", system-ui, -apple-system, sans-serif;
$font-family-base: $font-family-sans-serif;

// 2. 標題與 Display 字型設定
$display-font-weight: 900;
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: 700;
$headings-margin-bottom: 1rem;
$headings-font-style: null;
$headings-line-height: 1.2;
$headings-color: inherit;

$font-weight-base: 400;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * 0.75;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
);