// Sass color palette
$primary: #000000;
$secondary: #5F5E5E;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #BA1A1A;
$light: #FCF8F8;
$dark: #212223;

$body-bg:#FCF8F8;
$body-color:#1C1B1B;