// Custom component styles

.nav-link {
  transition: opacity 0.3s ease;
}

.nav-link:hover {
  opacity: 0.7;
}

[data-bs-theme="dark"] {
  --wh-secondary-rgb: var(--wh-secondary);
  --wh-dark-rgb: var(--wh-light);
  --wh-link-hover-color: var(--wh-light);
  .projects-entry-aw-link:hover {
    color: var(--wh-light) !important;
  }
  .projects-entry-aw-link:hover .circle-icon {
    color: var(--wh-dark) !important;
    background-color: var(--wh-light) !important;
  }
}