$utilities: map-merge(
  $utilities,
  (
    'color': (
      responsive: true,
      property: color,
      class: text,
      local-vars: (
        'text-opacity': 1,
      ),
      values: map-merge(
          $utilities-text-colors,
          (
            'muted': var(--#{$prefix}secondary-color),
            // deprecated
            'black-50': rgba($black, 0.5),
            // deprecated
            'white-50': rgba($white, 0.5),
            // deprecated
            'body-secondary': var(--#{$prefix}secondary-color),
            'body-tertiary': var(--#{$prefix}tertiary-color),
            'body-emphasis': var(--#{$prefix}emphasis-color),
            'reset': inherit,
          )
        ),
    ),
    'font-size': (
      responsive: true,
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
    ),
  )
);
