.modal-backdrop-filters {
  backdrop-filter: blur(20px);
}
.modal.show .btn-cta {
  transition: none !important;
}

.modal.show .modal-dialog {
  transform: none !important; /* 移除任何位移 */
  transition: opacity 0.3s ease-out !important; /* 只保留淡入效果 */
}
.modal-dialog-scrollable .modal-content {
  @media screen and (max-width: 768px) {
    max-height: 90%;
  }
}
.btn-cta {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1055; /* Ensure it's above the modal content */
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--wh-primary);
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--wh-light); /* Ensure text is visible */
}

.btn-cta:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
.btn-close {
  position: fixed;
  left: 2rem;
  z-index: 1055;
  border-radius: 50px;
  @media screen and (max-width: 768px) {
    bottom: 3rem;
  }
}
li:nth-of-type(1) .bi-circle-fill {
  fill: var(--wh-gray-800);
}

li:nth-of-type(2) .bi-circle-fill {
  fill: var(--wh-gray-700);
}

li:nth-of-type(3) .bi-circle-fill {
  fill: var(--wh-gray-600);
}

li:nth-of-type(4) .bi-circle-fill {
  fill: var(--wh-gray-500);
}
