// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import './base/colors';
@import './base/typography.scss';
@import './base/spacing.scss';
@import './base/container.scss';

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// 4. Include base styles (rules that might use variables)
@import './base/base.scss';
@import './base/variables-dark.scss'; 

// 5. Include remainder of required Bootstrap parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Include any other optional stylesheet partials
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';

// 7. Optionally include utilities API
@import 'bootstrap/scss/utilities/api';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/tooltip';

// 8. Custom Components, Layout and Pages
@import './components/brand-logo';
@import './components/icon-button';
@import './components/list';
@import './components/modal';
@import './components/section-title';
@import './components/clouds';

@import './layout/header.scss';
@import './layout/footer.scss';

@import './pages/home';