.ui-list li {
  .list-item-icon {
    display: inline;
    .icon, svg {
      display: inline-block;
      transition: 0.45s cubic-bezier(0.34, 1.56, 0.48, 1.19);
    }
  }

  &:hover .list-item-icon {
    .icon, svg {
      transform: rotate(45deg);
    }
  }
}