.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding: 1.25rem;
  @media (max-width: 768px) {
    height: 40vh;
    padding: 2rem .5rem;
  }
}
.footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/asset-footer-mountain-removebg-preview.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -1;
  opacity: 0.7;
  filter: grayscale(100%);
}
.footer-content {
  position: relative;
  z-index: 1;
}
.footer-logo-img {
  width: 60px;
  display: flex;
}