.header {
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-top: 1.25rem;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  flex-grow: 1;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr auto;

  }
}
.header-grid > .navbar-brand {
  justify-self: center;
  @media (max-width:768px) {
    justify-self: start;
  }
}
.header-grid > .navbar-nav {
  justify-self: end;
}
.navbar-text{
  display: flex;
  color: var(--wh-light);
  @media (max-width:768px) {
    display: none;
    color: var(--wh-dark);
  }
}